@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-color: #f9eacd;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1em !important;
  }

  select {
    background: transparent;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .w-spaced {
    @apply w-5 lg:w-8;
  }
  .h-spaced {
    @apply h-5 lg:h-8;
  }

  .spaced {
    @apply p-5 lg:p-8;
  }
  .spaced-x {
    @apply px-5 lg:px-8;
  }
  .spaced-y {
    @apply py-5 lg:py-8;
  }
  .spaced-t {
    @apply pt-5 lg:pt-8;
  }
  .spaced-r {
    @apply pr-5 lg:pr-8;
  }
  .spaced-b {
    @apply pb-5 lg:pb-8;
  }
  .spaced-l {
    @apply pl-5 lg:pl-8;
  }
  .spaced-no-r {
    @apply pt-5 pb-5 pl-5 lg:pt-8 lg:pb-8 lg:pl-8;
  }

  .spaced-md {
    @apply p-3 lg:p-5;
  }
  .spaced-y-md {
    @apply py-3 lg:py-5;
  }
  .spaced-b-md {
    @apply pb-3 lg:pb-5;
  }
  .spaced-t-md {
    @apply pt-3 lg:pt-5;
  }
  .spaced-x-md {
    @apply px-3 lg:px-5;
  }

  .spaced-sm {
    @apply p-2 lg:p-3;
  }
  .spaced-t-sm {
    @apply pt-2 lg:pt-3;
  }
  .spaced-x-sm {
    @apply px-2 lg:px-3;
  }

  .gap-spaced {
    @apply gap-5 lg:gap-8;
  }
  .gap-x-spaced {
    @apply gap-x-5 lg:gap-x-8;
  }
  .gap-y-spaced {
    @apply gap-y-5 lg:gap-y-8;
  }

  .gap-spaced-md {
    @apply gap-3 lg:gap-5;
  }

  .gap-spaced-sm {
    @apply gap-2 lg:gap-3;
  }

  .spaced-xs {
    @apply p-1 lg:p-2;
  }
  .gap-spaced-xs {
    @apply gap-1 lg:gap-2;
  }
  .spaced-x-xs {
    @apply px-1 lg:px-2;
  }

  .rounded-lg {
    @apply rounded-3xl lg:rounded-[2.5rem];
  }
  .rounded {
    @apply rounded-3xl lg:rounded-[2.5rem];
  }
  .rounded-md {
    @apply rounded-2xl lg:rounded-3xl;
  }
  .rounded-sm {
    @apply rounded-xl lg:rounded-2xl;
  }

  .debug-border {
    @apply border-2 border-solid;
  }
}

.fake-radius {
  background-image: radial-gradient(
    circle farthest-side,
    rgba(255, 255, 255, 0) 99.9%,
    #3e6c4b
  );
}

.glow {
  box-shadow: 0px 0px 100px 10px var(--light-color);
  transition: 0.5s ease-in-out all;
}

.glow:hover {
  box-shadow: 0px 0px 80px 30px var(--light-color);
}

.hide-scrollbar ::-webkit-scrollbar {
  display: none;
}
